/* tabela-pedidos.tabela-pedidos.component.css */
.tabela-pedidos table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 10px;
}

.tabela-pedidos th,
.tabela-pedidos td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.tabela-pedidos th {
  background-color: #f2f2f2;
}

.tabela-pedidos tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-pedidos tr:hover {
  background-color: #e9e9e9;
}
